html,body{
  width: 100%;
  height: 100%;
  position: absolute;
}

#meumapa{
  width: 95%;
  height:95%;
}

h1
{
    color:green;
}

img {
  position:absolute;
  top:95%;
  left:95%;
  z-index: 500;
}
